@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
}

.container-2 {
  padding: 25px;
  border: 1px solid #363945;
  max-width: 800px;
  width: 100%;
  margin: 200px auto;
  border-radius: 10px;
}

.margin-bottom10px {
  margin-bottom: 10px;
}

.margin-right5px {
  margin-right: 5px;
}
/* warna */
.color-hitam {
  background-color: #363945;
}

.color-kuning {
  background-color: #f5df4d;
}

.text-kuning  {
    color: #f5df4d;
}

.text-merah {
    color: #D2386C;
}
.text-hijau {
    color: #00A170;
}

/* heading */
.font-heading {
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: 0em;
}

hr {
  color: white;
  background-color: white;
  border: 2px solid white;
  max-width: 400px;
  width: 100%;
}

/* main */
.font-main {
  margin: 5px auto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}

/* button */
button {
  opacity: 80%;
}
.font-btn {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

button:hover {
  opacity: 100%;
}

input {
  max-width: 262px;
  width: 100%;
}

/* footer */
.footer {
  margin-top: -10px;
  font-family: "Courier New", Courier, monospace;
  font-size: x-small;
  padding: 0.2em;
  color: #fff;
  background-color: #3c3c3c;
}

/* menampilkan tiap page */
.hide {
    display: none;
}

.nonhide {
    display: block;
}

/* page - pilih jawaban */
#guntingPiliJawa:hover img, #batuPiliJawa:hover img, #kertasPiliJawa:hover img{
    width: 50%;
}

#guntingPiliJawa:hover p, #batuPiliJawa:hover p, #kertasPiliJawa:hover p{
    font-weight: bold;
}

/* responsive */
@media (max-width: 375px) {
  .container-2 {
    margin: 50px auto;
  }
}

@media (min-width: 576px) {
  .container-2 {
    margin: 135px auto;
  }
}

@media (min-width: 768px) {
  .container-2 {
    margin: 135px auto;
  }
}
@media (min-width: 992px) {
  .container-2 {
    margin: 135px auto;
  }
}

@media (min-width: 1200px) {
  .container-2 {
    margin: 135px auto;
  }
}
