.inputuser__title {
	text-align: start;
	font-size: 1.563rem;
	font-weight: 700;
	color: #3fa796;
	margin-bottom: 1rem;
}

.inputuser__input__group {
	display: flex;
	flex-direction: column;
	text-align: start;
	margin-bottom: 1rem;
}

.inputuser__label {
	font-size: 1rem;
	color: #fec260;
	font-weight: 500;
	margin-bottom: 0.5rem;
}

.inputuser__input {
	border: 2px solid #fec260;
	border-radius: 8px;
	padding: 10px;
	color: #3fa796;
	text-align: start;
	background-color: #2a0944;
}

.inputuser__button {
	font-size: 1rem;
	font-weight: 700;
	color: #0f172a;
	padding: 10px;
	border-radius: 5px;
	background-color: #fec260;
	border: none;
	text-decoration: none;
}

.inputuser__button:hover {
	cursor: pointer;
}
