.firstscreen__title {
	font-size: 1.563rem;
	font-weight: 700;
	color: #3fa796;
	margin-bottom: 1rem;
}

.firstscreen__button {
	font-size: 1rem;
	font-weight: 700;
	color: #0f172a;
	padding: 10px;
	border-radius: 5px;
	background-color: #fec260;
	border: none;
	text-decoration: none;
}

.firstscreen__button:hover {
	cursor: pointer;
}
